/**
 * 通用样式补丁
 *
 * Copyright © 2017 FORP Co., LTD
 * All Rights Reserved
 */

body {overflow: hidden !important; background: white; color: #777}

/* 禁止触摸 */
.no-pointer{pointer-events: none}

/* 鼠标禁用样式 */
.not-allowed{cursor: not-allowed !important}

* {font-family: 'Microsoft YaHei', tahoma, arial; font-weight: normal; font-size : 13px}
/* 重置ul、ol */
ul, ol { margin: 0; padding: 0; list-style: none}

/* Form中的表格行距 */
form table td {padding-top: 5px; color: #666}

.form-inline {display: inline-block; margin-left: 15px}

/* 全局Loading Mask层样式 */
.interruption {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: transparent; z-index: 9999}
.interruption .loading {width: 220px; height: 60px; border-radius: 8px; border: 1px solid #000000; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -110px; background-color: #000000; color: #ddd; text-align: center; -webkit-box-shadow: 0 0 2px 2px rgba(128,128,128,.8); box-shadow: 0 0 2px 2px rgba(128,128,128,.8)}
.interruption .loading img {height: 36px; vertical-align: middle; padding-right: 5px}
.interruption .loading span {line-height: 60px; vertical-align: middle; font-size: 16px}
.la-timer,.la-timer>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.la-timer{display:block;font-size:0;color:#fff}.la-timer.la-dark{color:#333}.la-timer>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}.la-timer{width:32px;height:32px}.la-timer>div{width:32px;height:32px;background:transparent;border-width:2px;border-radius:100%}.la-timer>div:before,.la-timer>div:after{position:absolute;top:14px;left:14px;display:block;width:2px;margin-top:-1px;margin-left:-1px;content:"";background:currentColor;border-radius:2px;-webkit-transform-origin:1px 1px 0;-moz-transform-origin:1px 1px 0;-ms-transform-origin:1px 1px 0;-o-transform-origin:1px 1px 0;transform-origin:1px 1px 0;-webkit-animation:timer-loader 1250ms infinite linear;-moz-animation:timer-loader 1250ms infinite linear;-o-animation:timer-loader 1250ms infinite linear;animation:timer-loader 1250ms infinite linear;-webkit-animation-delay:-625ms;-moz-animation-delay:-625ms;-o-animation-delay:-625ms;animation-delay:-625ms}.la-timer>div:before{height:12px}.la-timer>div:after{height:8px;-webkit-animation-duration:15s;-moz-animation-duration:15s;-o-animation-duration:15s;animation-duration:15s;-webkit-animation-delay:-7.5s;-moz-animation-delay:-7.5s;-o-animation-delay:-7.5s;animation-delay:-7.5s}.la-timer.la-sm{width:16px;height:16px}.la-timer.la-sm>div{width:16px;height:16px;border-width:1px}.la-timer.la-sm>div:before,.la-timer.la-sm>div:after{top:7px;left:7px;width:1px;margin-top:-.5px;margin-left:-.5px;border-radius:1px;-webkit-transform-origin:0.5px 0.5px 0;-moz-transform-origin:0.5px 0.5px 0;-ms-transform-origin:0.5px 0.5px 0;-o-transform-origin:0.5px 0.5px 0;transform-origin:0.5px 0.5px 0}.la-timer.la-sm>div:before{height:6px}.la-timer.la-sm>div:after{height:4px}.la-timer.la-2x{width:64px;height:64px}.la-timer.la-2x>div{width:64px;height:64px;border-width:4px}.la-timer.la-2x>div:before,.la-timer.la-2x>div:after{top:28px;left:28px;width:4px;margin-top:-2px;margin-left:-2px;border-radius:4px;-webkit-transform-origin:2px 2px 0;-moz-transform-origin:2px 2px 0;-ms-transform-origin:2px 2px 0;-o-transform-origin:2px 2px 0;transform-origin:2px 2px 0}.la-timer.la-2x>div:before{height:24px}.la-timer.la-2x>div:after{height:16px}.la-timer.la-3x{width:96px;height:96px}.la-timer.la-3x>div{width:96px;height:96px;border-width:6px}.la-timer.la-3x>div:before,.la-timer.la-3x>div:after{top:42px;left:42px;width:6px;margin-top:-3px;margin-left:-3px;border-radius:6px;-webkit-transform-origin:3px 3px 0;-moz-transform-origin:3px 3px 0;-ms-transform-origin:3px 3px 0;-o-transform-origin:3px 3px 0;transform-origin:3px 3px 0}.la-timer.la-3x>div:before{height:36px}.la-timer.la-3x>div:after{height:24px}@-webkit-keyframes timer-loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes timer-loader{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes timer-loader{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes timer-loader{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}
.item {position: absolute; width: 220px; height: 100px; top: 50%; left: 50%; margin-top: -50px; margin-left: -110px; background-color: rgba(0,0,0,0.5); border-radius: 5px; text-align: center}
.items:after {display: table; float: none; clear: both; content: ""}
.items .item {position: relative; width: 25%; height: 180px; text-align: center; float: left; -webkit-transition: all 250ms linear; -moz-transition: all 250ms linear; -o-transition: all 250ms linear; transition: all 250ms linear}
.items .item .item-inner {position: relative; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; -ms-flex-pack: center; -ms-flex-align: center; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; align-items: center}
.item-loader-container div:after {-webkit-animation-play-state: running; -moz-animation-play-state: running; -o-animation-play-state: running; animation-play-state: running}
.la-timer {margin: 17px auto}
.item-title span {color: #ffffff; word-break: break-all}

/* 模块body */
.body-border {border: solid 1px #dedede !important}
/* 页面顶部导航栏 */
.navigation {padding:0 10px;height:35px;line-height:35px;border-bottom:1px solid #ddd}
.navigation .words {font-size:15px;height:20px;line-height:20px;padding-left:5px;border-left:5px solid #06a4cb!important}
.navigation .close-mask {position:absolute;top:0;right:10px;font-size:22px;height:31px;line-height:31px}
.navigation .back-btn {position:absolute;top:3px;right:10px;height:28px;line-height:16px}
/* showIframeWindow 样式 */
.fullScreenMask {display:none;position:absolute;left:0;top:0;right:0;bottom:0;z-index:9998;background-color:#fff;border:1px solid #ddd}
.fullScreenMask .autoScrollContainer {position:absolute;top:35px;right:0;bottom:0;left:0}
.fullScreenMask .autoScrollContainer iframe {width:100%;height:100%;border:none;outline:0}
.subMask{display: block;top: 0;left: 100%;-webkit-box-shadow: -3px 10px 10px rgba(0,0,0,0.3);box-shadow: -3px 10px 10px rgba(0,0,0,0.3)}
/* 公共iconfont(svg形式)样式,包含在按钮中使用的情况 */
.btn .icon,.btn span {vertical-align:middle !important}
svg.icon {width:18px;height:18px;vertical-align:middle;fill:currentColor;overflow:hidden}

/*------------------------------------------------------------------------------------------
 *		Bootstrap
 *------------------------------------------------------------------------------------------*/
.btn {font-size: 13px}
.btn-group-sm>.btn, .btn-sm {line-height: 1.4;}
.row {margin-right: 0px; margin-left: 0px}
a:focus, a:hover {text-decoration: none}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {outline: none}
.pagination {border-radius: 0px}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{margin-left: 0;margin-right: 0}

/* 平台本身按钮样式 */
.btn-primary{background-color: #2dc3e8;border-color: #2dc3e8}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:active:focus{background-color: #06a4cb;border-color: #06a4cb}

/* 去掉栅格布局左右两边的边距 */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left: 0;padding-right: 0}

/* readonly 去除默认的灰色背景 */
.form-control[readonly], .form-control {background-color: rgba(249, 249, 249, 0); opacity: 1}
label {font-weight: normal}
.input-sm {font-size: 13px; padding: 5px; color: #666}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {padding-top: 0px}

/* 浏览器自动回填组件背景色 */
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset !important}

/* chromeplaceholder溢出三个点 */
::-webkit-input-placeholder {text-overflow: ellipsis}

/* 必填项标识.required {border-right: solid 2px #039dfb}*/
/*.required {background-image: url(../image/required.png) !important; background-repeat: no-repeat; background-position: right center}*/
.form-group {color: #777}

/* 组合input */
.input-group{width: auto}
.input-group-addon {padding: 6px; cursor: pointer}
.input-group-addon:hover {color: red}

/* input-group (修复带×选择框替换为svg以后,内部宽高不对的问题) */
.input-group-btn .btn{padding: 4px 5px !important}
/* .row .input-group-btn .btn{padding: 3px 5px 4px !important}
div[region="north"] .input-group-btn .btn{padding: 3px 5px 4px !important} */

/* fieldset原生组件 */
fieldset{padding: 0px 10px 10px 10px; margin: 10px; border: 1px solid silver; border-radius: 0px;}
legend{padding: 0px 3px; margin: 0px; border: 0; width: auto; font-size: 13px; color: #a6a6a6}

/*------------------------------------------------------------------------------------------
 *		iDialog
 *------------------------------------------------------------------------------------------*/
/* 标题字体颜色 */
.i-dialog .i-target {color: #025b80}
/*.i-dialog .i-content {margin: 0px}*/
/* 内嵌Form边距 */
.i-dialog .i-content form {margin-top: 0px; margin-right: 0px; margin-bottom: 10px}
/* 内嵌EasyUI Tab组件边距 */
.i-dialog .i-content .easyui-tabs {clear: both; margin: 0px -5px -5px 5px}
/* 内嵌EasyUI DataGrid/TreeGrid组件边距 */
.i-dialog .i-content .panel {padding: 5px 0px 0px 10px}
/*.i-dialog .i-content .panel-noscroll .panel {margin-top: 0; position: relative}*/
.i-dialog .i-content .panel-noscroll .panel .panel-body-noheader {border-bottom: 1px solid #dcdcdc}
/* 按钮 */
.i-dialog .i-wrapBtn input {font-size: 13px}

/**------------------------------------------------------------------------------------------
 *		jQuery EasyUI
 *------------------------------------------------------------------------------------------*/
/* 表格头部 */
.datagrid-header .datagrid-cell span {font-size: 13px; color: #025b80}
/* 表格单元格 */
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {text-align: center; font-size: 13px; color: #777;}		/* text-overflow: ellipsis*/
/* 行号 */
.datagrid-header, .datagrid-td-rownumber {background: #ffffff}
/* 表头背景色 */
.datagrid-header {background: #f8f8f8}
/* 表头 TD */
.datagrid-header td {padding: 7px 5px !important}
/* 表格 TD */
.datagrid-body td, .datagrid-footer td {padding: 5px}
/* TreeGrid 层级间距*/
.treegrid-tr-tree td[colspan] {padding: 0}
/* Grid Filter */
.icon-filter {background: url('../js/jquery/easyui/extensions/datagrid-filter/filter.png') no-repeat center center}
/* 排序列鼠标样式 */
.datagrid-sort {cursor: pointer}
/* 排序列排序符号样式：未排序列取消排序图标标识
.datagrid-sort .datagrid-sort-icon {padding: 0px; background: none}
.datagrid-sort-asc .datagrid-sort-icon {padding: 0 13px 0 0; background: url('../js/jquery/easyui/themes/default/images/datagrid_icons.png') no-repeat 0px center}
.datagrid-sort-desc .datagrid-sort-icon {padding: 0 13px 0 0; background: url('../js/jquery/easyui/themes/default/images/datagrid_icons.png') no-repeat -16px center}
*/
/* 面板、布局遮挡了Bootstrap下拉菜单 */
.layout-panel {overflow: visible}
.panel-body {overflow: visible}
/* 默认字体大小 */
.tabs-title {font-size: 14px}
.tree-title {font-size: 13px; display: inline; vertical-align: middle;}
.tree-icon-none {display: none;}
/* 树行间距 */
.tree li {padding: 2px}
/* 分页栏文字 */
.pagination-info {font-size: 13px; color: #777}
/* panel边框 */
.panel-body {border-color: #ddd}
/* 表格边框线*/
.datagrid-header td, .datagrid-body td, .datagrid-footer td {border-style: solid; border-color: #ddd}
.datagrid-ftable tr:last-child td {border-bottom: 0}
/* panel阴影 */
.panel {-webkit-box-shadow: none; box-shadow: none}
/* tab页标题 */
.tabs li a.tabs-inner {-moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0}
/* tabs-scroller */
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner{border-color: #2dc3e8}
.tabs-scroller-left{background-color: #2dc3e8;background-image: none}
.tabs-scroller-left:before{content: "";display: block;width: 8px;height: 8px;border: 1px solid #ffffff;border-top-width: 0;border-left-width: 0;position: absolute;left: 4px;top: 11px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}
.tabs-scroller-left:after{content: "";display: block;width: 8px;height: 8px;border: 1px solid #ffffff;border-top-width: 0;border-left-width: 0;position: absolute;left: 9px;top: 11px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}
.tabs-scroller-right{background-color: #2dc3e8;background-image: none}
.tabs-scroller-right:before{content: "";display: block;width: 8px;height: 8px;border: 1px solid #ffffff;border-top-width: 0;border-left-width: 0;position: absolute;right: 4px;top: 11px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.tabs-scroller-right:after{content: "";display: block;width: 8px;height: 8px;border: 1px solid #ffffff;border-top-width: 0;border-left-width: 0;position: absolute;right: 9px;top: 11px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.tabs-scroller-left:hover,.tabs-scroller-right:hover{background-color: #06a4cb}
/* header样式渲染延迟、隐藏 */
.easyui-datagrid, .easyui-treegrid {display: none}
/* 工具栏toolbar样式 */
.datagrid-toolbar {background: white; overflow: hidden; white-space: nowrap; border-width: 0px; border-collapse: separate}
.datagrid-toolbar .form-inline,.datagrid-toolbar .form-group,.datagrid-toolbar .form-group input,.datagrid-toolbar .form-group select{display: inline-block !important;vertical-align: middle}
.datagrid-toolbar .fa {vertical-align: initial}
/* 带工具栏Grid边框 */
.datagrid-wrap[id] {border-color: transparent; border-bottom-color: #ddd;}
.datagrid-wrap[id] .datagrid-view {border: 1px solid #ddd;} /*border-top: none;border-bottom: none*/	
.datagrid-wrap[id] .datagrid-view:before {content: "";position: absolute;right: 1px;top: 0;width: 1px;height:100%;background: #ddd;z-index: 9}
.datagrid-wrap[id] .datagrid-pager {border-width: 0 1px 1px 1px;}
/* 分页效果 */
.l-btn {border-radius: 0 !important;background: #fff !important}
.l-btn-plain:hover {background: #fff;border-color: #c3c4c4}
.l-btn-plain-selected {padding: 0px; border: 1px solid #c3c4c4; background: #fff}
.l-btn-plain-disabled, .l-btn-plain-disabled:hover {border-color: transparent}
.l-btn-plain-selected, .l-btn-plain-selected:hover {color: #0080c0; border-color: #2dc3e8; background: #fff}
.l-btn-icon {background: none}
.pagination-info {float: left !important}
/* 分页栏边框 */
.datagrid .datagrid-pager {background: transparent; padding: 5px 6px 4px 10px;}	/*border-width: 0 1px 1px 1px;*/
.datagrid .datagrid-pager table {border: 1px solid #e5e9ec; border-radius: 5px;height: 28px;float: right}
.datagrid .datagrid-pager table td {padding: 0;border-right: 1px solid #e5e9ec}
.datagrid .datagrid-pager table td:nth-child(2) {border: none}
.datagrid .datagrid-pager table td:nth-last-child(2) {border-left: none}
.pagination-page-list, .pagination .pagination-num {border-color: #c3c4c4}
.pagination-page-list:focus {outline: none}
.pagination-links {border-right: none !important}
.pagination-links a {position: relative}
.pagination-links a:after {content: ""; position: absolute;width: 1px;height: 100%;background: #e5e9ec;right: 0;top: 0}
.pagination-links a:last-child:after {display: none}
.pagination-btn-separator {display: none}
.pagination-first:before {content: ""; width: 2px;height: 12px;background-color: #666;position: absolute;left: 4px;top: 2px}
.pagination-first:after {content: ""; width: 8px;height: 8px;position: absolute;top: 4px;left: 8px;border: 2px solid #666;border-top-width: 0;border-right-width: 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg)}
.pagination-last:before {content: ""; width: 2px;height: 12px;background-color: #666;position: absolute;right: 4px;top: 2px}
.pagination-last:after {content: ""; width: 8px;height: 8px;position: absolute;top: 4px;right: 8px;border: 2px solid #666;border-top-width: 0;border-right-width: 0;-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg)}
.pagination-prev:before {content: ""; width: 8px;height: 8px;position: absolute;top: 4px;left: 6px;border: 2px solid #666;border-top-width: 0;border-right-width: 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg)}
.pagination-next:before {content: ""; width: 8px;height: 8px;position: absolute;top: 4px;right: 6px;border: 2px solid #666;border-top-width: 0;border-right-width: 0;-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg)}
/* tabs 样式 */
.tabs {border-color: #2dc3e8;height: 32px !important}
.tabs li a.tabs-inner {height: 31px !important;-moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;padding: 6px 15px;border: 1px solid transparent;border-bottom-color: transparent;color: #2dc3e8;background: #c0edf8}
.tabs li.tabs-selected a.tabs-inner {height: 32px !important;background: #ffffff;border: 1px solid #2dc3e8;color: #2dc3e8;border-bottom: none}
.tabs li a.tabs-inner:hover {height: 32px !important;background: #ffffff;border: 1px solid #2dc3e8;color: #2dc3e8;border-bottom: none}
/* window 样式 */
.window {background-color: #ffffff; background-image: none; padding: 0; border-radius: 0}
.window .window-header {padding: 7px 10px}
.window, .window .window-body {border: none}
.window-proxy-mask, .window-mask {background: #ffffff; border: 1px solid #ddd}
.panel-title {font-size: 15px; font-weight: normal; height: 20px; line-height: 20px; border-left: 5px solid #2dc3e8}
.window .window-header .panel-with-icon {padding-left: 5px}
.window .window-header .panel-tool {right: 10px}
.window .window-header .panel-icon, .window .window-header .panel-tool {margin-top: -9px}
.window .window-header .panel-tool:before {content: "";pointer-events: none;position: absolute;top: 0;left: 8px;width: 1px;height: 18px;background: #999;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.window .window-header .panel-tool:after {content: "";pointer-events: none;position: absolute;top: 0;left: 8px;width: 1px;height: 18px;background: #999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.panel-tool a{display: block;margin: 0}
.panel-tool a:hover {background-color: #ffffff}
.panel-tool-close {background: none}

/**------------------------------------------------------------------------------------------
 *		Validate
 *------------------------------------------------------------------------------------------*/
.input-invalidate {border: solid 1px red !important}

/* 自定义radio和checkbox的校验 */
.input-check input[type="radio"].input-invalidate+i{border: 1px solid red;border-radius: 50%}
.input-check input[type="checkbox"].input-invalidate+i{border: 1px solid red;border-radius: 5px}
.check-radio .input-invalidate+i:before{color: red}

/**------------------------------------------------------------------------------------------
 *		mCustomScrollBar补丁 && light风格下的自定义滚动条样式(浅灰色窄条风格)
 *------------------------------------------------------------------------------------------*/
.mCSB_inside>.mCSB_container {margin-right: 0 !important}
.mCS-light .mCSB_scrollTools {width: 5px}
.mCS-light .mCSB_scrollTools .mCSB_draggerRail {background-color: rgba(255,255,255,.4); filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"}
.mCS-light .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: rgba(179,179,179,.75); filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"}
.mCS-light .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {background-color: rgba(179,179,179,.75); filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"}

/**------------------------------------------------------------------------------------------
 *		未使用自定义滚动条的情况下让chrome内核的美观一些
 *------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {overflow: auto}
/* 滚动条 */
::-webkit-scrollbar-thumb {background-color: #e0ecff; min-height: 25px; min-width: 25px; border: 1px solid #ccc}
/* 滚动条轨道 */
::-webkit-scrollbar-track {background-color: #f7f7f7; border: 1px solid #f7f7f7}

/**------------------------------------------------------------------------------------------
 *		DateGrid 操作选项列
 *------------------------------------------------------------------------------------------*/
.grid-column-option {padding-left: 10px; padding-right: 10px; text-align: left}
.grid-column-option a {font-size: 16px}
.grid-column-option i {padding-left: 5px; padding-right: 5px}

/**------------------------------------------------------------------------------------------
 *		视图
 *------------------------------------------------------------------------------------------*/
.sortType{position: absolute;right: 0;top: 0;z-index: 99}
.sortType .btn>*{vertical-align: text-bottom}
.sortType .btn+div{display: none}
.sortType .hoverShow{height: 80px;position: relative}
.sortType .hoverShow .btn{padding: 4px 10px}
.sortType .hoverShow:hover>div{display: block}
.sortType .hoverShow>div{position: absolute;right: 0;top: 32px;background-color: #ffffff;border: 1px solid #dddddd}
.sortType .hoverShow>div a{display: block;line-height: 30px;padding: 0 10px 0 31px;color: #333333;position: relative}
.sortType .hoverShow>div a:hover{background-color: #c0edf8;color: #2dc3e8}
.sortType .hoverShow>div .active{background-color: #c0edf8;color: #2dc3e8}
.sortType .hoverShow>div .active:before{content: "√";position: absolute;left: 15px;top: 0}

/**------------------------------------------------------------------------------------------
 *		更好的radio和checkbox (东方项目中用到的居多，平台上也少量用到
 		【用到了FontAwesome,会有对字体库的依赖,后面要全部替换掉】)
 *------------------------------------------------------------------------------------------*/
.check-container{padding-top: 0 !important}
.check-radio{position: relative;display: inline-block;cursor: pointer;margin-top: 3px;padding-right: 15px;margin-bottom: 0}
.check-radio input{position: absolute;left: 4px;top: 5px;opacity: 0}
.check-radio i{position: relative;display: inline-block;width: 18px;height: 18px;vertical-align: middle}
.check-radio i:before{font: normal normal normal 14px/1 FontAwesome;content: "\f10c";top: 4px;left: -5px;font-size: 19px;color: #bbb;height: 18px;line-height: 18px}
.check-radio input:checked+i:before{content: "\f192";color: #2dc3e8}
.check-radio span{display: inline-block;vertical-align: middle;margin-left: 2px;margin-top: -1px}
.ckbx i:before{content: "\f096"}
.ckbx input:checked+i:before{content: "\f14a"}

/**------------------------------------------------------------------------------------------
 *		雪碧图式的单选多选按钮【替换上述的方式↑】(一个类名就可以区分单选多选)
 *------------------------------------------------------------------------------------------*/
.label-container.multi-lines{margin-bottom: -10px}
.label-container.multi-lines>.input-check{margin-bottom: 10px}
.label-container>.input-check{margin-right: 15px}

.input-check{display: inline-block;margin-bottom: 0;position: relative;line-height: normal}
.input-check>:first-child{margin: 0;opacity:0;filter:alpha(opacity=0)}
.input-check>:nth-child(2){display: block;width: 19px;height: 19px;position: absolute;left: 0;top: 0;background-image: url(../image/CssGaga.png);background-repeat: no-repeat;background-size: 87px}
.input-check>:nth-child(3){display: inline-block;margin-left: 10px;font-size: 14px}
.input-check input[type="checkbox"]+*{background-position: -44px 0}
.input-check input[type="radio"]:checked+*{background-position: -22px 0}
.input-check input[type="checkbox"]:checked+*{background-position: -66px 0}
.input-check input[disabled]+*,.input-check input[disabled]+*+*{opacity:0.5;filter:alpha(opacity=50)}

/* 做自定义表单时布尔字段和枚举字段的另一种写法  */
.input-checked{display: inline-block;margin-bottom: 0;position: relative;line-height: normal}
.input-checked>:first-child{margin: 0;opacity:0;filter:alpha(opacity=0)}
.input-checked>:nth-child(2){width: 19px;height: 19px;position: absolute;left: 0;top: 0;background-image: url(../image/CssGaga.png);background-repeat: no-repeat;background-size: 87px}
.input-checked>:nth-child(3){display: inline-block;margin-left: 10px}
.input-checked input[type="radio"]+*{background-position: 0 0}
.input-checked input[type="radio"]:checked+*{background-position: -22px 0}
.input-checked input[type="checkbox"]+*{background-position: -44px 0}
.input-checked input[type="checkbox"]:checked+*{background-position: -66px 0}
.input-checked input[disabled]+*,.input-check input[disabled]+*+*{opacity:0.5;filter:alpha(opacity=50)}

/**------------------------------------------------------------------------------------------
 *		datagrid操作栏字体图标间距
 *------------------------------------------------------------------------------------------*/
.operate-container>*{margin: 0 5px}.operate-container>:first-child{margin-left: 0}
.operate-container a:hover{text-decoration: none}
.operate-container svg{fill: #333333}

/* 操作栏内是链接的情况 (统一图标显示而去掉了该情况) */
/* .operate-container a{margin: 0;padding: 0 10px;color: #0896ba;border-left: 1px solid #b6b6b6}*/
/* .operate-container a:first-child{padding-left: 0;border-left: none}*/

/* bootstrap的操作栏按钮容器 (平台或项目中可能会存在该方式和以上的方式) */
.grid-column-option{padding: 0}
.grid-column-option a{margin-right: 5px;color: #2dc3e8}
.grid-column-option a:focus{outline: none;outline-offset: 0;color: #2dc3e8;text-decoration: none}
.grid-column-option a:last-child{margin-right: 0}

/**------------------------------------------------------------------------------------------
 *		Bootstrap MultiSelect
 *------------------------------------------------------------------------------------------*/
.multiselect {text-align: left;}
.multiselect:hover{border-color: #ccc;background-color: transparent !important;}
.multiselect:focus {border-color: #66afe9;background-color: transparent !important;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
select.multiselect+.open>.dropdown-toggle.btn-default{background-color: transparent !important;border-color: #66afe9;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.multiselect-search {height: 29px;}
.multiselect b.caret {position: absolute; top: 14px; right: 8px;}
.multiselect-container {width: 100%;border-color: #ccc;}
.multiselect-selected a label {background: #2dc3e8; color: white}
.multiselect-container li a label.checkbox {padding-top: 5px; padding-left: 30px;}
.multiselect-item .input-group-btn button{padding: 4.5px 5px !important;}
.multiselect-item .input-group-btn button:focus{outline: none;}
.multiselect-item .input-group-btn button .glyphicon{top: 2px;}
.multiselect-item .input-group-addon:hover{color: #555;}

/**------------------------------------------------------------------------------------------
 *		另外定义栅格布局,让一行两列的方式只用一个列表即可循环
 *------------------------------------------------------------------------------------------*/
.table-cell-container{*zoom: 1;}
.table-cell-container:before,.table-cell-container:after{content: "";display: table}
.table-cell-container:after{clear: both}
.table-cell-container .table-cell{float: left;width: 50%}
@media (max-width: 767px){.table-cell-container .table-cell{width: 100%}}
@media (min-width: 768px){.table-cell-container .table-cell{width: 100%}}
@media (min-width: 992px){.table-cell-container .table-cell{width: 50%}}
@media (min-width: 992px) and (max-width: 1199px){.table-cell-container .table-cell{width: 50%}}
@media (min-width: 1200px){.table-cell-container .table-cell{width: 50%}}
.table-cell{*zoom: 1;padding: 8px;line-height: 30px}
.table-cell:before,.table-cell:after{content: "";display: table}
.table-cell:after{clear: both}
/* .table-cell>*{display: table-cell;vertical-align: middle}*/
.table-cell>:first-child{white-space: nowrap;vertical-align: top;width: 168px;text-align: right;float: left;color: #333333}
.table-cell .info-detail{display: block;margin-left: 168px;margin-right: 0;word-break: break-all;min-height: 33px}
.table-cell .info-detail .input-check{margin-right: 15px}
.table-cell .info-detail .input-check:last-child{margin-right: 0}
.table-cell .info-detail a:hover{text-decoration: none;color: #0896ba}
.table-cell .double-line{margin-top: 33px}

/**------------------------------------------------------------------------------------------
 *		二级可展开收起的左侧菜单 (有"+"号字样 ,展开当前其他的就会折起)【投行项目移植过来的,颜色可能需要重新定制并在项目中重置】
 *------------------------------------------------------------------------------------------*/
.left-tab-switch-sub{position: absolute;top: 168px;right: 0;bottom: 50px;left: 0;border: 1px solid #dddddd}
.left-tab-switch-sub li{position: relative}
.left-tab-switch-sub li a{display: block;padding: 10px 10px 10px 25px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #333333}
.left-tab-switch-sub li a:hover{text-decoration: none;background-color: #ecf0f2}
.left-tab-switch-sub li span{position: absolute;left: 8px;top: 13px;width: 14px;height: 14px;background-color: #333333;border-radius: 3px;pointer-events: none}
.left-tab-switch-sub li span:before{content: "";width: 10px;height: 2px;background-color: #ffffff;position: absolute;left: 2px;top: 6px}
.left-tab-switch-sub li span:after{content: "";width: 2px;height: 10px;background-color: #ffffff;position: absolute;left: 6px;top: 2px}
.left-tab-switch-sub .sub-list{display: none}
.left-tab-switch-sub .sub-list a{color: #0896ba}
.left-tab-switch-sub .sub-list a:hover{background-color: #e2ecef}
.left-tab-switch-sub .sub-list .active{background-color: #e2ecef}
.sub-fold:after{width: 10px !important;height: 2px !important;left: 2px !important;top: 6px !important}
.paging-bottom{position: absolute;left: 0;bottom: 0;right: 0;height: 50px;padding: 8px 0;text-align: center}
.paging-bottom select{display: inline-block;width: 60px;vertical-align: middle}

/**------------------------------------------------------------------------------------------
 *		知识文档部分 (整个模块,以后可能公用)【投行项目移植过来的,颜色可能需要重新定制】
 *------------------------------------------------------------------------------------------*/
.knowledge{padding: 10px}
.knowledge h3{font-weight: bold;word-break: break-all;color: #333333; margin-top: 10px; padding-bottom: 10px;}
.knowledge .subhead span{display: inline-block;padding: 0 10px;color: #999999;border-right: 1px solid #999999;line-height: 14px}
.knowledge .subhead span:first-child{padding-left: 0}
.knowledge .subhead span:last-child{border: none}
.knowledge .status-bar{margin-top: 8px}
.knowledge .status-bar div{display: inline-block;padding: 0 10px}
.knowledge .status-bar div>*{color: #999999;vertical-align: middle}
.knowledge .status-bar div:first-child{padding-left: 0}
.knowledge .status-bar div svg{fill: #999999}
.knowledge .introduction{margin-top: 8px;word-break: break-all}
.knowledge .attachment-files{padding: 15px 10px;margin-top: 8px;border-radius: 5px;background-color: #eff7fb;border: 1px solid #cbdce4}
.knowledge .attachment-files h3{color: #0896ba;margin-top: 0;font-weight: normal;font-size: 18px}
.knowledge .attachment-files ul li{word-break: break-all;margin-top: 5px}
/* 文档详情头像部分 */
.doc-author{padding: 10px}
.doc-author .avatar{margin: 0 auto;width: 140px;height: 140px;border-radius: 50%;overflow: hidden;border: 1px solid #dddddd}
.doc-author .avatar img{width: 100%;height: 100%;border-radius: 50%;overflow: hidden}
.doc-author .doc-operate{text-align: center;margin-top: 8px}
.doc-author .doc-operate a{display: inline-block;padding: 0 5px}
.doc-author .doc-operate a:hover{color: #666666;tet-decoration: none}
.doc-author .doc-info{margin-top: 12px}
.doc-author .doc-info li{margin-top: 6px;word-break: break-all}
.doc-half{*zoom: 1;border-top: 1px solid #dddddd}
.doc-half:before,.doc-half:after{content: "";display: table}
.doc-half:after{clear: both}
.doc-half a{float: left;width: 50%;padding: 10px 5px;text-align: center;position: relative}
.doc-half a:hover{text-decoration: none}
.doc-half a:focus{outline: none}
.doc-half a:first-child:after{content: "";width: 1px;background-color: #dddddd;position: absolute;left: 100%;top: 6px;bottom: 6px}
.doc-half a p{margin-bottom: 0;line-height: 23px;color: #999999}
.doc-half a p:nth-child(2){color: #333333}
/* 文档详情样式 (还适用于panel的布局结构) */
.block-each{margin-bottom: 10px;border: 1px solid #dddddd;min-height: 60px}
.block-each .block-title{padding: 8px;color: #333;border-bottom: 1px solid #ddd;background: #f5f5f5;position: relative}
.block-each .block-title a{float: right}
.block-each .block-title a:hover{text-decoration: none}
.block-each .block-title span{margin-left: 10px}
.block-each .block-title .text{color: #0896ba;vertical-align: text-top;line-height: 22px}
.block-each .block-title .link-container{position: absolute;top: 7px;right: 5px;text-align: right}
.block-each .block-title .link-container a{float: none;margin-left: 2px;color: #333333}
/* 另一种panel样式 (标题文字+一根拦腰截断的横线) */
.block-each-another{border: none}
.block-each-another .block-title{background-color: transparent;border-bottom: none;margin-top: 20px;border-top: 1px solid #0896ba;position: relative}
.block-each-another .block-title div{font-size: 16px;padding-right: 6px;color: #0896ba;position: absolute;left: 0;top: -13px;background-color: #ffffff}
/* webuploader按钮样式 */
.webuploader-pick{padding: 6px 10px !important;background-color: #2dc3e8 !important;line-height: 20px !important}
.webuploader-pick span{vertical-align: middle}
.webuploader-pick+div label{margin-bottom: 0}
.webuploader-pick-hover{background: #06a4cb}

/**------------------------------------------------------------------------------------------
 *		公用的webuploader上传列表 (左边是强制不换行限宽的文件名,右侧为删除按钮)
 *   【投行项目移植过来的,颜色可能需要重新定制】
 *------------------------------------------------------------------------------------------*/
.files-list li{*zoom: 1;line-height: 30px}
.files-list li:before,.files-list li:after{content: "";display: table}
.files-list li:after{clear: both}
.files-list li a{color: #3c7bc0}
.files-list li a:hover{color: #0896ba}
.files-list .file-operate{float: right}
.files-list .file-operate:focus{outline: none}
.files-list .file-operate svg{fill: #f35958}
.files-list .file-text{display: block;margin-left: 0;margin-right: 50px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.files-list .file-text:hover{text-decoration: none}
.files-list li p{color: #999999;word-break: break-all}

/**------------------------------------------------------------------------------------------
 *		列表页过滤筛选条件
 *	 【投行项目移植过来的,颜色可能需要重新定制】
 *------------------------------------------------------------------------------------------*/
.filter-container{*zoom: 1;margin-bottom: -8px;}
.filter-container:before,.filter-container:after{content: "";display: table}
.filter-container:after{clear: both}
.filter-container a{display: block;float: left;margin-right: 8px;margin-bottom: 8px;padding: 6px 12px;color: #0896ba;border-radius: 3px}
.filter-container a:hover,.filter-container .active{color: #ffffff;background: #0896ba;text-decoration: none}
.filter-container a:focus{text-decoration: none}
/* 搜索区域的table样式（两像素底边框） */
.table-bbd{margin-bottom: 0;border-bottom: 1px solid #dddddd;table-layout: fixed}
.table-bbd tr{border-bottom: 1px solid #ddd}
.table-bbd tr:last-child{border-bottom: none}
.table-bbd td{border-top: none !important;vertical-align: middle !important}
.hack{border-bottom: none !important}
.hack td{padding: 0 !important}
/* 展开收起更多筛选 */
#showMore{position: relative}
#showMore:before{content: "展开更多筛选"}
#showMore:after{content: "";display: inline-block;width: 8px;height: 8px;border: 2px solid #ffffff;margin-left: 5px;margin-bottom: 3px;border-top-width: 0;border-left-width: 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.unfold:before{content: "隐藏更多筛选" !important}
.unfold:after{content: "";margin-bottom: 0 !important;margin-top: 3px !important;-webkit-transform:rotate(-135deg) !important;-ms-transform:rotate(-135deg) !important;-o-transform:rotate(-135deg) !important;transform:rotate(-135deg) !important}
td .btn .icon, td .btn span{vertical-align: text-bottom;display: inline-block;height: 18px;font-size: 13px}
/* 筛选及表格的相关样式 */
.bbd-2px{border-bottom: 2px solid #0896ba}
.info-table{width: 100%;table-layout: fixed;border: 1px solid #dddddd}
.info-table th,.info-table td{padding: 5px;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;word-break: break-all}
.info-table th{background: #eff8ff}
/* .info-table tr:last-child th,.info-table tr:last-child td{border-bottom: none}
.info-table thead{border-bottom: 1px solid #dddddd}
.info-table thead th{line-height: 2.6;text-align: center;background-color: #eff8ff}
.info-table td:nth-child(2n+1){width: 168px;text-align: right;background-color: #eff8ff;line-height: 2.6}
.info-table tr>:last-child{border-right: none} */
/* 单行偶数列可带合并的表格类 */
.table-info{width: 100%;table-layout: auto}
.table-info th,.table-info td{padding: 5px;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;word-break: break-all;vertical-align: middle}
.table-info tr:last-child th,.table-info tr:last-child td{border-bottom: none}
.table-info thead{border-bottom: 1px solid #dddddd}
.table-info thead th{line-height: 2.6;text-align: center;background-color: #eff8ff}
.table-info td:nth-child(2n+1){width: 168px;text-align: right;background-color: #eff8ff;line-height: 2.6}
.table-info tr>:last-child{border-right: none}

/* 开始日期至结束日期 */
.date-group .input-group{white-space: nowrap;}
.date-group input{float: none !important;display: inline-block !important;width: 45% !important;border: none;outline: none;box-shadow: none; text-align: center;}
.date-group input:focus{box-shadow: none}
.date-group span{display: inline-block; width: 10%; text-align: center; vertical-align: middle;}
/* fullMask */
.fullScreenMask{border-left-style: solid}
/* 富文本编辑器在设置行高的容器里, 按钮组高度不对 */
.edui-default .edui-editor-toolbarbox{line-height: initial}
.edui-default .edui-editor{width: 100% !important}

/* 流转意见列表 */
.flow-opinion-list {padding-left: 15px;border-left: 1px solid #dddddd}
.flow-opinion-list .opinion-node li {position: relative;margin-bottom: 10px}
.flow-opinion-list .opinion-node li:before {content: "";position: absolute;border-radius: 50%;top: 0;left: -25px;width: 20px;height: 20px;border: 1px solid #dddddd;background-color: #ffffff}
.flow-opinion-list .opinion-node li:after {content: "";position: absolute;border-radius: 50%;top: 5px;left: -20px;width: 10px;height: 10px;border: 1px solid #dddddd;background-color: #2dc3e8}
.flow-opinion-list .opinion-node .start-node,.flow-opinion-list .opinion-node .end-node {width: 80px;text-align: center;border-radius: 12px;margin-left: -16px;color: #ffffff;height: 24px;line-height: 24px;background-color: #cccccc;margin-left: -25px}
.flow-opinion-list .opinion-node .start-node:before,.flow-opinion-list .opinion-node .end-node:before,.flow-opinion-list .opinion-node .start-node:after,.flow-opinion-list .opinion-node .end-node:after {display: none}
.flow-opinion-list .opinion-node .node-title {color: #666;font-size: 14px;height: 20px;line-height: 20px}
.flow-opinion-list .opinion-node .node-card {border-radius: 5px;margin-top: 10px;background-color: #ffffff;border: 1px solid #dddddd}
.flow-opinion-list .opinion-node .card-top {padding: 5px 10px;background-color: #f5f5f5;border-top-left-radius: 5px;border-top-right-radius: 5px;*zoom: 1}
.flow-opinion-list .opinion-node .card-top:before,.flow-opinion-list .opinion-node .card-top:after {content: "";display: table}
.flow-opinion-list .opinion-node .card-top:after {clear: both}
.flow-opinion-list .opinion-node .card-top .card-avatar {float: left;width: 40px;height: 40px;border-radius: 50%}
.flow-opinion-list .opinion-node .card-top .card-avatar img {border-radius: 50%;overflow: hidden;width: 100%;height: 100%}
.flow-opinion-list .opinion-node .card-top .card-info {margin-left: 50px;margin-right: 0;line-height: 20px}
.flow-opinion-list .opinion-node .card-top .card-info h3 {color: #06a4cb;line-height: 20px;font-size: 14px}
.flow-opinion-list .opinion-node .card-top .card-info p > * {vertical-align: middle;font-size: 12px}
.flow-opinion-list .opinion-node .card-bottom {padding: 10px;font-family: "楷体";font-weight: bold;font-size: 18px;border-top: 1px solid #dddddd;white-space: normal;word-break: break-all}
.flow-opinion-list .opinion-node .card-bottom:empty {padding: 0;border: none}
.flow-opinion-list .opinion-node .card-bottom ul{list-style-type: none;padding-left: 0;margin-top: 0;white-space: normal;margin-bottom: -10px}
.flow-opinion-list .opinion-node .card-bottom ul li{display: inline-block;margin-right: 10px}
.flow-opinion-list .opinion-node .card-bottom ul li:before,.flow-opinion-list .opinion-node .card-bottom ul li:after{display: none}
.flow-opinion-list .opinion-node .card-bottom ul li a{white-space: normal;word-break: break-all;font-weight: normal;}

/* 做自定义表单时需要的一个仿table表头的div */
.forp-toolbar{line-height: 30px;margin-bottom: 8px;padding: 0 5px;border-bottom: 5px solid #f5f5f5}
.forp-toolbar .forp-title>*{display: inline-block;vertical-align: middle}
.forp-toolbar svg{fill: #06a4cb;margin-right: 3px}

/* 做自定义表单时用div模拟table处理附件列表嵌套的情况 */
.table-combine{*zoom: 1;border-left:1px solid #ddd;border-right: 1px solid #ddd;position: relative;min-height: 43px}
.table-combine:before,.table-cell:after{content: "";display: table}
.table-combine:after{clear: both}
.table-combine>:first-child{white-space: nowrap;vertical-align: top;width: 168px;text-align: right;color: #333333;line-height: 2.6;background-color: #eff8ff;padding: 5px;float: none;position: absolute;top: 0;bottom: 0;left: 0;border-right: 1px solid #ddd;}
.table-combine>:nth-child(2){display: block;padding: 5px;margin-left: 168px;margin-right: 0;word-break: break-all;min-height: 33px}

.i-super-scale{
    -webkit-transform: scale(1)\0 !important;
    -moz-transform: scale(1)\0 !important;
    -ms-transform: scale(1)\0 !important;
    transform: scale(1)\0 !important;
    opacity: 1\0 !important;
    filter: "alpha(opacity=100)"\0 !important; 
    -ms-filter: "alpha(opacity=100)"\0 !important;
}