

/*登录幻灯*/
.slider {width: 100%; position: fixed; z-index: 0;}
.slider .feather
{
    background: transparent none scroll no-repeat center top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
    background-size: cover; position: absolute; width: 100%; height: 100%; min-height: 100%; overflow: hidden; display: table; z-index: 2; opacity: 0;
}
.slider .reborn {z-index: 4;}
.slider .feather > img {position: absolute; width: 100%; height: auto; min-height: 100%; overflow: hidden; display: none;}

/*登录界面样式*/


/*背景*/
.login_bg {position: fixed;
    top: 0; left: 0; width: 100%; height: 100%; z-index: 1;

}
.login_bg:after {position: fixed; top: 0; left: 0; width: 100%; height: 100%; content: "";
    filter:alpha(opacity=70); -moz-opacity:0.70; -khtml-opacity:0.70; opacity: 0.70;
    background-color: #707070; z-index: 5;}


.login_bg_img {}
.login_bg_img:after {
    background: url(../image/p_login_slider2.jpg) center center no-repeat;
}

/*底部*/
.login_foot {position: fixed; bottom: 0; left: 0; width: 100%; height: 33px; background-color: #101010; color: #fff; line-height: 33px; text-align: center; z-index: 3;}

/*内容*/
.login {position: fixed; top: 0; left: 0; width: 100%; height: 100%;    z-index: 13;}
.login_main {position: relative; top: 50%; height: 500px !important; margin-top: -250px !important;}

/*左侧*/
.login_main_l {color: #2dc3e8; font-family: "Microsoft YaHei";}
.login_main_l dl dt {margin-top: 80px; font-size: 38px; font-weight:700;}
@media (min-width:768px) and (max-width:991px) {.login_main_l dl dt{margin-top: 0;}}
.login_main_l dl dt small {display: block; font-size: 38px; line-height: 48px;}
.login_main_l dl dd {display: block; width: 100%; height: 200px; margin-top: 15px; overflow: hidden;}
.login_main_l dl dd h4 {line-height: 32px; font-weight: 300;}

/*右侧*/
.login_main_r {width: 100%; border:2px solid #403f3f; background: url(../image/p_form.png) 0 0 repeat; border-radius: 5px; margin-top:20px ;}
.login_title{height: 60px; line-height: 60px; font-family: "Microsoft YaHei";    padding-top: 12px; }
.login_title ul li {display: inline-block; float: left; width: 100%; height: 60px; border-top: none; text-align: center; font-size:24px; color: #fff; margin-left: -20px;}
.login_title ul li:first-child {border-right: 0; border-left: 0;}
.login_title ul li:last-child {border-right: 0;}
.login_title_cur {border-bottom: none !important; background-image: none !important;}
.login_main_r form {position: relative; *zoom: 1; width: 77%; margin: 0 auto; background-color: transparent;}

/* Form样式 */
.input-group {width: 100%;}
.input-group-addon {background-color: #a5afae; border-radius: 2px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: none; width: 45px !important; color: white;}
.input-group-addon i {font-size: 18px;}
.input-login {font-size: 14px !important; height: 45px !important;  vertical-align:center;line-height:45px;  border-radius: 2px; border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none; text-indent: 5px; border: 1px solid #ddd; width: 100%;}
.login_main_r input[type="password"], .login_main_r input[type="text"] {background: url(../image/p_bar_bg.png) 0 0 repeat; color: #fff; font-size: 14px;}
.login_main_r .input-group {margin-top: 30px;}
.login_but a {display: block; width: 100%; padding: 18px 0; border-top:1px solid #6a6d6d; color: #fff; font-size: 14px; text-align: center;}
.login_but a:hover {color: #999;}
.login_msg {display: block; width: 100%; height: 20px; margin-top: 8px; text-align: center; color: #ff4545;}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {color: #fff;}
/* Mozilla Firefox 19+ */
::-moz-placeholder {color: #fff;}
input:-ms-input-placeholder {color: #fff;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #fff;}
/*手机端下载*/
.log-h-dow {
    position:absolute;
    top:8px;
    right:25px;
    color:#eee;
    font-size:12px;
    z-index: 99;
}
.log-h-dow  a {
    cursor:pointer;
    padding:5px;
    display:inline-block;
    position:relative;
    color:#eee;
}

.log-h-dow .log-h-layout {
    display:none;
    position:absolute;
    top:20px;
    right:0px;
    background:#fff;
    padding:10px;
    border:1px solid #ddd;
    z-index:500;
    text-align:center;
    color:#666;
    margin-top: 15px;}

.log-h-dow a:hover .log-h-layout{
    display:block}
.log-h-dow .log-h-layout img{
    width:120px;
}
.log-h-dow .log-h-layout .log-h-arrow {
    width:18px;
    height:15px;
    background:url(../image/arrow-w.png);
    position: absolute;
    top: -12px;
    right: 8px;
    z-index: 999;}
